
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-12 col-md-offset-0 text-left">
        <div class="row row-mt-15em">
            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                <h1 class="cursive-font">Welcome</h1>
            </div>
            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                <div class="form-wrap">
                    <div class="tab">
                        <div class="tab-content">
                            <div class="tab-content-inner active" data-content="signup">
                                <h3 class="cursive-font">Login</h3>
                                <form action="#">
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            @Html.Label("UserName")
                                            @Html.TextBox("Username")
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label>Password</label>
                                            @Html.Password("password")
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            
                                            <input type="submit" class="btn btn-primary btn-block" value="Login">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>